#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

# Miui camera
on boot && property:ro.boot.hwc=CN
    setprop ro.product.mod_device "haydn"

on boot && property:ro.boot.hwc=CN && property:ro.boot.hardware.sku=haydnpro
    setprop ro.product.mod_device "haydn"

on boot && property:ro.boot.hwc=GL
    setprop ro.product.mod_device "haydn_global"

on boot && property:ro.boot.hwc=IN
    setprop ro.product.mod_device "haydn_in_global"
